<!DOCTYPE html>
<html>
<head>
  <title>AssetZipImportable</title>
  <%= stylesheet_link_tag    "asset_zip_importable/application", media: "all" %>
  <%= javascript_include_tag "asset_zip_importable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
